@model PWANotesApp.Web.ViewModels.NoteDetailsViewModel

@{
    ViewData["Title"] = "Note";
}

<h2>@Model.Title<a asp-action="EditTitle" asp-route-id="@Model.Id" class="btn btn-light float-lg-right"><i class="fa fa-edit"></i></a></h2>
<hr />
@if (Model.Items != null && Model.Items.Count() > 0)
{
    <form id="frmDeleteNoteItem" asp-action="DeleteItem">
    </form>

    <form id="frmAddGeoLoc" asp-action="AddGeoLoc">
    </form>

    <script>
        var geoLocItems = [];
    </script>
    @foreach (var item in Model.Items)
    {
        <div class="row">
            <div class="col-md-9">
                @if (item.Type == PWANotesApp.Web.Models.NoteItemType.Text)
                {
                    <p>@item.Content</p>
                }
                else if (item.Type == PWANotesApp.Web.Models.NoteItemType.Picture)
                {
                    <p>
                        <img src="~/content/img/@item.Content" class="img-fluid" />
                    </p>
                }
                else if (item.Type == PWANotesApp.Web.Models.NoteItemType.GeoLocation)
                {
                    string mapPlaceholder = "mapPlaceholder" + item.Id.ToString();

                    <div id="@mapPlaceholder" style="position:relative;width:600px;height:400px;"></div>
                    <script>
                        var content = "@item.Content";
                        content = content.replace(new RegExp('&quot;', 'g'), '"');
                        geoLocItems.push({ itemId: @item.Id, content: content });
                    </script>
                }
            </div>
            <div class="col-md-3">
                <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
                    <a asp-action="EditText" asp-route-id="@item.Id" class="btn btn-light"><i class="fa fa-edit"></i></a>
                    <a href="#" onclick="onDelete(@item.Id); return false;" class="btn btn-light"><i class="fa fa-trash-alt"></i></a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a asp-action="AddText" asp-route-id="@item.NoteId" asp-route-position="0" asp-route-relItemId="@item.Id" class="dropdown-item btn btn-light">Add Text Above</a>
                            <a asp-action="AddText" asp-route-id="@item.NoteId" asp-route-position="1" asp-route-relItemId="@item.Id" class="dropdown-item btn btn-light">Add Text Below</a>
                            <div class="dropdown-divider"></div>
                            <a asp-action="AddImage" asp-route-id="@item.NoteId" asp-route-position="0" asp-route-relItemId="@item.Id" class="dropdown-item btn btn-light">Add Image Above</a>
                            <a asp-action="AddImage" asp-route-id="@item.NoteId" asp-route-position="1" asp-route-relItemId="@item.Id" class="dropdown-item btn btn-light">Add Image Below</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" onclick="getLocation(@item.NoteId, 0, @item.Id); return false;" class="dropdown-item btn btn-light">Add Geo Location Above</a>
                            <a href="#" onclick="getLocation(@item.NoteId, 1, @item.Id); return false;" class="dropdown-item btn btn-light">Add Geo Location Below</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus-circle"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a asp-action="AddText" asp-route-id="@Model.Id" class="dropdown-item btn btn-light">Add Text</a>
                <a asp-action="AddImage" asp-route-id="@Model.Id" class="dropdown-item btn btn-light">Add Image</a>
                <a href="#" onclick="getLocation(@Model.Id, null, null); return false;" class="dropdown-item btn btn-light">Add Geo Location</a>
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script>
        function onDelete(id) {
            var result = confirm("Are you sure you want to delete this item?");
            if (result) {
                var form = document.forms["frmDeleteNoteItem"];
                var hdInputId = document.createElement("input");

                hdInputId.value = id;
                hdInputId.name = "id";
                hdInputId.style.display = 'none';

                form.appendChild(hdInputId);

                form.submit();
            }
        }

        function getLocation(id, pos, relItemId) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log(position);
                    var form = document.forms["frmAddGeoLoc"];

                    var hdID = document.createElement("input");
                    var hdPosition = document.createElement("input");
                    var hdRelativeItemId = document.createElement("input");
                    var hdLongigute = document.createElement("input");
                    var hdLatitude = document.createElement("input");

                    hdID.value = id;
                    hdID.name = "id";
                    form.appendChild(hdID);

                    hdPosition.value = pos;
                    hdPosition.name = "position";
                    form.appendChild(hdPosition);

                    hdRelativeItemId.value = relItemId;
                    hdRelativeItemId.name = "relItemId";
                    form.appendChild(hdRelativeItemId);

                    hdLongigute.value = position.coords.longitude;
                    hdLongigute.name = "longitude";
                    form.appendChild(hdLongigute);

                    hdLatitude.value = position.coords.latitude;
                    hdLatitude.name = "latitude";
                    form.appendChild(hdLatitude);

                    document.body.appendChild(form);

                    form.submit();
                });
            } else {
                alert("Geo Location not supported by browser");
            }
        }

        function GetMap() {
            if (geoLocItems != null && geoLocItems.length > 0) {
                geoLocItems.forEach(function (item, index) {
                    var coords = JSON.parse(item.content);
                    //var latlon = coords.Latitude + "," + coords.Longitude;

                    /*
                    var img_url = "https://maps.googleapis.com/maps/api/staticmap?center=" + latlon + "&zoom=14&size=400x300&sensor=false&key={KEY}";
                    */
                    var id = "#mapPlaceholder" + item.itemId;
                    //var mapPlaceholder = document.getElementById(id);

                    var map = new Microsoft.Maps.Map(id, {
                        credentials: 'ArQwjTlcsab-tbnYcq4FQxvH9KBo8QycPqYqDIKa-aPTgCZlmbgPdj-vHk1s6zOc'
                    });

                    var loc = new Microsoft.Maps.Location(
                        coords.Latitude,
                        coords.Longitude);

                    console.log(loc);

                    //Add a pushpin at the user's location.
                    var pin = new Microsoft.Maps.Pushpin(loc);
                    map.entities.push(pin);

                    //Center the map on the user's location.
                    map.setView({ center: loc, zoom: 15 });

                    /*
                    mapPlaceholder.innerHTML = "<img src='" + img_url + "'>";
                    */
                    //mapPlaceholder.innerHTML = "<p>" + latlon + "</p>";
                });
            }
        }
    </script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
}